@import 'tailwindcss';

/* Base styling - using dark mode by default */
.app-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1.5rem;
  min-height: 100vh;
  height: auto;
  color: rgba(255, 255, 255, 0.87);
  background-color: #262626; /* neutral-800 color */
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
    cursor: pointer;
}

/* Track Editor */
.track-editor-container {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid #444;
  padding-left: 1rem;
}

/* Responsive layout */
@media (max-width: 1024px) {
  .app-container {
    flex-direction: column;
    height: auto;
  }
  
  .file-manager, .track-editor-container, .tracks-container {
    max-width: 100%;
    min-width: 100%;
  }
  
  .tracks-container {
    order: 2;
    margin: 1rem 0;
    min-height: 300px;
    max-height: none;
    border-color: #444;
  }
  
  .track-editor-container {
    order: 3;
    border-left: none;
    border-top: 1px solid #444;
    padding-left: 0;
    padding-top: 1rem;
    border-color: #444;
  }
  
  .file-manager {
    order: 1;
  }
}
